<header>
  <!--  <div>-->
  <!--    <a id="homepage-link" href="/">-->
  <!--      <img src="assets/logo.png" alt="The ACS">-->
  <!--      <span aria-hidden="true"></span>-->
  <!--      <strong>The Association of Cricket-->
  <!--        Statisticians and Historians</strong>-->
  <!--    </a>-->
  <!--    <nav aria-label="Secondary menu">-->
  <!--      <ul class="">-->
  <!--        <li>-->
  <!--          <a href="https://twitter.com/ACScricket" target="_blank"><fa-icon-->
  <!--            [icon]="faTwitter" class="fa-xl"></fa-icon></a>-->
  <!--        </li>-->
  <!--        <li>-->
  <!--          <a href="https://www.facebook.com/Association-of-Cricket-Statisticians-Historians-101127452440852" target="_blank"><fa-icon-->
  <!--            [icon]="faFacebook" class="fa-xl"></fa-icon></a>-->
  <!--        </li>-->
  <!--        <li>-->
  <!--          <a href="https://www.instagram.com/acscricket/" target="_blank"><fa-icon-->
  <!--            [icon]="faInstagram" class="fa-xl"></fa-icon></a>-->
  <!--        </li>-->
  <!--      </ul>-->
  <!--    </nav>-->
  <!--  </div>-->
</header>
