<app-bowling-aggregate-record-ui (dispatch)="onDispatch($event)" [bowlingOverallUiMModel$]="bowlingOverallUiModel$"
                                 [searchType]="'byYear'"
                                 [showGround]="false"
                                 [showOpposition]="false"
                                 [showSeason]="false"
                                 [showTeam]="true"
                                 [showYear]="true"
                                 [title]="'By Year of Match Start Bowling Figures'">
</app-bowling-aggregate-record-ui>
