.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}


.spinner {
  animation: 2s linear infinite svg-animation;
  max-width: 100px;
}


@keyframes svg-animation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg)
  }
}

.path {
  animation: 1.4s ease-in-out infinite both circle-animation;
  display: block;
  fill: transparent;
  stroke: #2f3d4c;
  stroke-linecap: round;
  stroke-dasharray: 283;
  stroke-dashoffset: 280;
  stroke-width: 10px;
  transform-origin: 50% 50%;
}


@keyframes circle-animation {
  0%,
  25% {
    stroke-dashoffset: 280;
    transform: rotate(0);
  }

  50%,
  75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 280;
    transform: rotate(360deg);
  }
}

footer {
  position: absolute;
  text-align: left;
  left: 0;
  bottom: 0;
  background-color: var(--bg-brand-700);
  color: white;
  font-size: 0.9rem;
  width: 100%;
  padding: 0.5rem 0.5rem;
}

footer > span#timestamp {
  float: right;
  font-size: smaller;
}

footer > span#datatimestamp {
  float: right;
  font-size: smaller;
  padding-left: 5px;
  padding-right: 5px;
}

