<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %X{call-id} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="trace">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.eclipse.jetty" level="info"/>
    <logger name="io.netty" level="info"/>
    <logger name="io.ktor.server.routing.Routing" level="info"/>
    <logger name="io.ktor.server.auth.Authentication" level="info"/>
    <logger name="io.ktor.server.plugins.statuspages.StatusPages" level="info"/>
    <logger name="io.ktor.server.plugins.callid.CallId " level="info"/>
    <logger name="com.zaxxer.hikari.HikariConfig" level="info"/>
    <logger name="com.zaxxer.hikari.pool.PoolBase" level="info"/>
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="info"/>
    <logger name="com.zaxxer.hikari.util.DriverDataSource" level="info"/>
    <logger name="com.zaxxer.hikari.HikariDataSource" level="info"/>
    <logger name="org.mariadb.jdbc.client.socket.impl.PacketReader" level="info"/>
    <logger name="org.mariadb.jdbc.client.socket.impl.PacketWriter" level="info"/>
    <logger name="org.mariadb.jdbc.client.impl.StandardClient" level="info"/>
    <logger name="org.mariadb.jdbc.message.server.OkPacket" level="info"/>

    <logger name="org.jooq.impl" level="info"/>
    <logger name="org.jooq.tools.LoggerListener" level="debug"/>
</configuration>