<app-bowling-aggregate-record-ui (dispatch)="onDispatch($event)" [bowlingOverallUiMModel$]="bowlingOverallUiModel$"
                                 [searchType]="'byHost'"
                                 [showCountry]="true"
                                 [showGround]="false"
                                 [showOpposition]="false"
                                 [showSeason]="false"
                                 [showTeam]="true"
                                 [showYear]="false"
                                 [title]="'By Host Bowling Figures'">

</app-bowling-aggregate-record-ui>
