<app-bowling-aggregate-record-ui (dispatch)="onDispatch($event)" [bowlingOverallUiMModel$]="bowlingOverallUiModel$"
                                 [searchType]="'overall'"
                                 [showGround]="false"
                                 [showOpposition]="true"
                                 [showSeason]="false"
                                 [showTeam]="true"
                                 [showYear]="true"
                                 [title]="'By Series Bowling Figures'">

</app-bowling-aggregate-record-ui>
