<app-bowling-aggregate-record-ui (dispatch)="onDispatch($event)" [bowlingOverallUiMModel$]="bowlingOverallUiModel$"
                                 [searchType]="'byGround'"
                                 [showGround]="true"
                                 [showOpposition]="false"
                                 [showSeason]="false"
                                 [showTeam]="true"
                                 [showYear]="false"
                                 [title]="'By Ground Bowling Figures'">

</app-bowling-aggregate-record-ui>
