<app-bowling-aggregate-record-ui (dispatch)="onDispatch($event)" [bowlingOverallUiMModel$]="bowlingOverallUiModel$"
                                 [searchType]="'bySeason'"
                                 [showGround]="false"
                                 [showOpposition]="false"
                                 [showSeason]="true"
                                 [showTeam]="true"
                                 [showYear]="false"
                                 [title]="'By Season Bowling Figures'">
</app-bowling-aggregate-record-ui>
